.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html, body {
    box-sizing: border-box;
    margin: 0;
}

header, footer {
    background-color: burlywood;
    padding: 2em;
    text-align: center;
}

#header {
    color: sienna;
    font-family: "Arial Black";
    text-align: center;
    font-size: 50px;
}

#footer {
    color: sienna;
    font-family: "Arial Black";
    text-align: center;
    font-size: 20px;
}

.tableau-content {
    width: 738px;
    height: 738px;
    margin: 10px;
    margin-left: 310px;
    margin-right: auto;
    border: 20px solid saddlebrown;
    border-radius: 5px;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tableau div div {
    float: left;
    width: 60px;
    height: 65px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: burlywood;
    text-align: center;
    display: table-cell;
    border: 1px solid #000;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .tableau-content {
        width: 378px;
        height: 378px;
        margin: 10px;
        flex-wrap: wrap;
    }

    .tableau div div {
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 10%;


    }
}

